<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Spotificate</title>
        <meta name="Spotificate" content="Get stats for your spotify" /> 
        <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">
        <link rel="stylesheet" href="css/teal.css">
    </head>
    <body>
        <section class="py-5 py-md-7" id="home" style="height: 89vh;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-md-auto mb-5 mb-md-0 text-center text-md-left">
                        <span class="text-uppercase text-muted small-xl">Spotificate</span>
                        <h1 class="display-4 mt-2 mb-5">Word cloud for your spotify</h1>
                        <a href="/cloud" class="btn btn-primary d-inline-flex flex-row align-items-center">
                            Start
                        </a>
                    </div>
                    <div class="col-md-6 play-wrapper">
                        <img src="img/macbook.png" class="img-fluid d-block mx-auto" alt="MacBook" />
                    </div>
                </div>
            </div>
        </section>
        <div class="row mt-4" style="position: fixed;bottom: 3vh;text-align: center;width:100%">
            <div class="col-12 text-muted text-center" >
                Made with <span style="color: #e25555;">&#9829;</span> by <a href="notrickroll">Rick</a>
            </div>
        </div>
    </body>
</html>